# ==============================================================
# .env.example – Kopiere diese Datei nach .env und passe an.
# Die .env wird NICHT ins Git eingecheckt (.gitignore).
# ==============================================================

# ---------------------------------------------------------------
# LOKAL (Entwicklung mit SQLite)
# ---------------------------------------------------------------
DJANGO_SECRET_KEY=pXp99Fm5cgDcK7wuEDds0p1F1dyFG6pMQwYgeWYvhKWqJnWnYdSXRZ4vVRBmVHnD
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Keine DB_* Variablen setzen → Django verwendet automatisch SQLite


# ---------------------------------------------------------------
# PRODUKTION (Jelastic – Umgebungsvariablen im Dashboard setzen)
# ---------------------------------------------------------------
# DJANGO_SECRET_KEY=langer-zufaelliger-string-hier-einsetzen
# DJANGO_DEBUG=False
# DJANGO_ALLOWED_HOSTS=deine-domain.hidora.com

# DB_ENGINE=django.db.backends.postgresql
# DB_NAME=einkaufsliste
# DB_USER=dbuser
# DB_PASSWORD=sicheres-passwort
# DB_HOST=<postgres-node-hostname-von-jelastic>
# DB_PORT=5432