# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtualenv
venv/
.venv/
env/
ENV/

# Django
*.sqlite3
staticfiles/
media/

# Secrets – niemals ins Repo!
.env

# IDEs
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Logs
*.log
